<%
  device_index_path = @user.nil? ? backend_devices_path : backend_user_devices_path(@user)
%>


<div class="page-header row">
  <div class="col-md-6">
    <% if @user %>
      <h3> <%= @user.name %> <i class="fa fa-angle-right"></i> 全部设备 </h3>
    <% else %>
      <h1> 全部设备 </h1>
    <% end %>
  </div>
  <div class="col-md-1" style="padding:0; position: relative; height: 34px;">
    <% if @q.conditions.present? %>
      <%= link_to "取消搜索", device_index_path, style: "position: absolute; bottom: 0; right: 0;" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= search_form_for @q, url: device_index_path do |f| %>
      <div class="input-group">
        <%= f.search_field :code_or_name_cont, placeholder: "序列号 / 名称", class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "搜索", class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%=sort_link @q, :model_type %></th>
      <th><%=sort_link @q, :code %></th>
      <th><%=sort_link @q, :name %></th>
      <th><%=sort_link @q, :state %></th>
      <th><%=sort_link @q, :activated_at %></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% @devices.each do |device| %>
    <%
      _bindings_path = eval("backend_#{device.model_name.param_key}_binding_path(device)")
      _edit_path = eval("edit_backend_#{device.model_name.param_key}_path(device)")
      _show_path = eval("backend_#{device.model_name.param_key}_path(device)")
    %>
    <tr>
      <td><%= device.model_type %></td>
      <td><%= device.code %></td>
      <td><%= device.name %></td>
      <td><%= t(device.state, scope: "activerecord.symbolizes.device.state") %></td>
      <td><%=l device.activated_at, format: "%Y/%m/%d %H:%M:%S" if device.activated_at %></td>
      <td>
        <%= link_to "<i class='fa fa-list-ul'></i> 绑定".html_safe, _bindings_path if can? :index, DeviceBinding %>
        <%= edit_link _edit_path if can? :update, device %>
        <%= delete_link _show_path if can? :destroy, device %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="table-pagination">
  <%= paginate(@devices) %>
</div>

