<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)}" : "炫视通 · 灵云" %></title>
  <link rel="shortcut icon" href="#<%#=public_url("/favicon.ico")%>">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= stylesheet_link_tag    'mobile', media: 'all'%>
  <%= javascript_include_tag 'mobile' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


